In [1]:
# Carregando as principais bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from datetime import datetime, timedelta

In [2]:
# Carregando os arquivos .csv e salvando em Pandas
orders = pd.read_csv("Orders.csv")
inventory = pd.read_csv("Inventory.csv")
ship = pd.read_csv("Shipments.csv")
# Agora, vamos verificar inconsistências tabela por tabela

In [3]:
# Vamos começar por "orders.csv"
# Primeiramente, vamos explorar os dados para entender a tabela
orders.head

<bound method NDFrame.head of    order_id customer_id product_id  order_date order_status
0     O0001        C007       P008  2025-02-26    Delivered
1     O0002        C020       P014  2025-02-01    Delivered
2     O0003        C029       P008  2025-02-23    Delivered
3     O0004        C015       P016  2025-04-21    Delivered
4     O0005        C011       P013  2025-04-21    Delivered
..      ...         ...        ...         ...          ...
95    O0096        C010       P007  2025-04-02    Delivered
96    O0097        C004       P002  2025-03-06    Delivered
97    O0098        C014       P003  2025-04-03      Pending
98    O0099        C016       P017  2025-04-15     Canceled
99    O0100        C015       P005  2025-04-16    Delivered

[100 rows x 5 columns]>

In [4]:
# Verificando consistência de "orders.csv"
orders.isnull().sum() # Verifica se existem entradas nulas

order_id        0
customer_id     0
product_id      0
order_date      0
order_status    0
dtype: int64

In [5]:
orders[orders.duplicated()] # Verifica se existem ordens duplicadas

Empty DataFrame
Columns: [order_id, customer_id, product_id, order_date, order_status]
Index: []

In [6]:
# Não existem dados nulos ou entradas duplicadas nesta tabela.
# Então, vamos verificar o tipo das variáveis e mudar o tipo da variável order_date para date

In [7]:
orders.dtypes

order_id        object
customer_id     object
product_id      object
order_date      object
order_status    object
dtype: object

In [8]:
#irei converter de object para datetime: pd.to_datetime(orders['order_date']

orders["order_date"] = pd.to_datetime(orders['order_date'], errors='coerce', dayfirst=False)

In [9]:
#agora verifico se order_date esta no tipo correta de data

orders.dtypes

order_id                object
customer_id             object
product_id              object
order_date      datetime64[ns]
order_status            object
dtype: object

In [10]:
orders.head()

  order_id customer_id product_id order_date order_status
0    O0001        C007       P008 2025-02-26    Delivered
1    O0002        C020       P014 2025-02-01    Delivered
2    O0003        C029       P008 2025-02-23    Delivered
3    O0004        C015       P016 2025-04-21    Delivered
4    O0005        C011       P013 2025-04-21    Delivered

In [11]:
# agora a tabela "inventory.csv"

In [12]:
inventory.head

<bound method NDFrame.head of    product_id warehouse_id  stock_quantity
0        P001          W01              95
1        P001          W02              47
2        P001          W03              88
3        P002          W01               0
4        P002          W02              15
5        P002          W03              60
6        P003          W01              63
7        P003          W02              62
8        P003          W03              68
9        P004          W01              21
10       P004          W02              92
11       P004          W03              66
12       P005          W01              75
13       P005          W02              25
14       P005          W03              15
15       P006          W01              50
16       P006          W02              85
17       P006          W03              56
18       P007          W01              28
19       P007          W02              77
20       P007          W03              91
21       P008          W01              68
22       P008          W02              46
23       P008          W03              93
24       P009          W01              61
25       P009          W02              68
26       P009          W03              75
27       P010          W01              15
28       P010          W02              89
29       P010          W03              89
30       P011          W01              47
31       P011          W02              84
32       P011          W03              38
33       P012          W01              99
34       P012          W02              32
35       P012          W03              93
36       P013          W01              22
37       P013          W02               9
38       P013          W03              68
39       P014          W01              99
40       P014          W02              33
41       P014          W03              51
42       P015          W01              94
43       P015          W02               9
44       P015          W03              18
45       P016          W01              57
46       P016          W02              95
47       P016          W03               0
48       P017          W01              68
49       P017          W02               3
50       P017          W03              15
51       P018          W01              23
52       P018          W02              79
53       P018          W03               1
54       P019          W01              91
55       P019          W02              31
56       P019          W03              90>

In [13]:
inventory.isnull().sum() # Verifica se existem entradas nulas

product_id        0
warehouse_id      0
stock_quantity    0
dtype: int64

In [14]:
inventory[inventory.duplicated()] # Verifica se existem ordens duplicadas

Empty DataFrame
Columns: [product_id, warehouse_id, stock_quantity]
Index: []

In [15]:
#verificar os tipos das variaveis, estao todas coerentes
inventory.dtypes

product_id        object
warehouse_id      object
stock_quantity     int64
dtype: object

In [16]:
# agora a tabela "shipments.csv"

In [17]:
ship.head

<bound method NDFrame.head of    shipment_id order_id   carrier      status
0        S0001    O0001  CarrierA   Delivered
1        S0002    O0027  CarrierB   Delivered
2        S0003    O0076  CarrierB   Delivered
3        S0004    O0078  CarrierB   Delivered
4        S0005    O0006  CarrierB   Delivered
..         ...      ...       ...         ...
75       S0076    O0008  CarrierB  In Transit
76       S0077    O0096  CarrierC  In Transit
77       S0078    O0002  CarrierA     Delayed
78       S0079    O0046  CarrierA   Delivered
79       S0080    O0090  CarrierC   Delivered

[80 rows x 4 columns]>

In [18]:
#verificar se tem, dados nulos
ship.isnull().sum()

shipment_id    0
order_id       0
carrier        0
status         0
dtype: int64

In [19]:
#verificar se existem dados duplicados, neste caso nao existem dados duplicados
ship[ship.duplicated()]

Empty DataFrame
Columns: [shipment_id, order_id, carrier, status]
Index: []

In [20]:
#verificar o tipo das variaveis
ship.dtypes

shipment_id    object
order_id       object
carrier        object
status         object
dtype: object

In [21]:
ship.head()

  shipment_id order_id   carrier     status
0       S0001    O0001  CarrierA  Delivered
1       S0002    O0027  CarrierB  Delivered
2       S0003    O0076  CarrierB  Delivered
3       S0004    O0078  CarrierB  Delivered
4       S0005    O0006  CarrierB  Delivered

In [22]:
ship['status'].value_counts()

status
Delivered     61
In Transit    11
Delayed        8
Name: count, dtype: int64

In [23]:
# Agora vamos procurar inconsistencias entre tabelas para confirmar relacoes

In [24]:
# procura ordem de produto nao cadastrado na tabela inventory
for item in orders['product_id']:
    # se product_id esta na tabela inventory['product_id'] nao faz nada
    if item in inventory['product_id'].values:
        continue
    # caso contrario, detecta a ordem inconsistente
    else: 
        print("produto", item, " inconsistente")
        # orders = orders[orders['product_id'] != item]

In [25]:
ship.head()

  shipment_id order_id   carrier     status
0       S0001    O0001  CarrierA  Delivered
1       S0002    O0027  CarrierB  Delivered
2       S0003    O0076  CarrierB  Delivered
3       S0004    O0078  CarrierB  Delivered
4       S0005    O0006  CarrierB  Delivered

In [26]:
# verifica se existe uma entrega (shipment) para toda ordem realizada
for item in orders['order_id']:
    # se item estiver contido em ship['order_id'], entao tudo certo
    if item in ship['order_id'].values:
        continue
    # caso contrario, vamos acusar a inconsistencia de dados
    else:
        print("ordem", item, "incosistente")
        # orders = orders[orders['order_id'] != item]

ordem O0012 incosistente
ordem O0013 incosistente
ordem O0024 incosistente
ordem O0029 incosistente
ordem O0033 incosistente
ordem O0035 incosistente
ordem O0040 incosistente
ordem O0043 incosistente
ordem O0044 incosistente
ordem O0050 incosistente
ordem O0051 incosistente
ordem O0061 incosistente
ordem O0065 incosistente
ordem O0067 incosistente
ordem O0074 incosistente
ordem O0084 incosistente
ordem O0091 incosistente
ordem O0094 incosistente
ordem O0095 incosistente
ordem O0098 incosistente

In [27]:
# na tabela orders e encontrei o order_id de compras canceladas em order_status
compras_canceladas = orders[orders["order_status"] == 'Canceled']['order_id'].values
print(compras_canceladas)

['O0008' 'O0010' 'O0021' 'O0026' 'O0030' 'O0039' 'O0069' 'O0079' 'O0087'
 'O0099']

In [28]:
# na tabela shipments relacionei compras canceladas atraves do order_id encontrei shipment_id
for item in compras_canceladas:
    if item in ship['order_id'].values:
        print(ship[ship['order_id'] == item]['shipment_id'].values)

['S0076']
['S0065']
['S0067']
['S0075']
['S0042']
['S0054']
['S0013']
['S0009']
['S0020']
['S0062']

In [29]:
#order_status entregue no ship tambem entregue
compras_entregues = orders[orders["order_status"] == 'Delivered']['order_id'].values

#item percorre compras_entregues
for item in compras_entregues:
    #se item esta contido em ship.order_id
    if item in ship['order_id'].values:
        entregues = ship[ship['order_id'] == item]
        status = entregues['status'].values
        if (status != "Delivered"):
             print(entregues.shipment_id.values)


entregues.dtypes

['S0078']
['S0063']
['S0041']
['S0045']
['S0053']
['S0037']
['S0049']
['S0057']
['S0061']
['S0046']
['S0077']

shipment_id    object
order_id       object
carrier        object
status         object
dtype: object

In [30]:
#tabela orders order_status a variavel shiped relacionada tabela shipment na coluna status ,corresponde em transito ou atrasado

In [31]:
compras_enviadas = orders[orders["order_status"] == 'Shipped']['order_id'].values
print(compras_enviadas)

['O0006' 'O0016' 'O0023' 'O0033' 'O0034' 'O0041' 'O0044' 'O0045' 'O0048'
 'O0051' 'O0053' 'O0058' 'O0068' 'O0072' 'O0078' 'O0082' 'O0085' 'O0086'
 'O0093' 'O0094']

In [32]:
#item percorre compras_enviadas
for item in compras_enviadas:
    #se verifica se item esta contido em ship.order_id
    if item in ship['order_id'].values:
        verifica = ship[ship['order_id'] == item]
        status = verifica['status'].values 
        #se nao esta em transito ou trasado entao nao esta compra enviada
        if status != "In Transit" and status != "Delayed":
            print(verifica.shipment_id.values)

['S0005']
['S0024']
['S0051']
['S0073']
['S0043']
['S0039']
['S0070']
['S0031']
['S0004']
['S0069']
['S0074']
['S0028']

task 2

In [33]:
#todo orders.product_id

In [34]:
hj = datetime.today()
dia_limite = hj - timedelta(days=30)
ultimos_30 = orders[orders.order_date >= dia_limite]
ultimos_30 = ultimos_30[ultimos_30["order_status"] != "Canceled"]
print(ultimos_30)

   order_id customer_id product_id order_date order_status
3     O0004        C015       P016 2025-04-21    Delivered
4     O0005        C011       P013 2025-04-21    Delivered
8     O0009        C007       P009 2025-04-04    Delivered
22    O0023        C002       P003 2025-03-30      Shipped
26    O0027        C002       P007 2025-04-12    Delivered
27    O0028        C028       P009 2025-04-07    Delivered
32    O0033        C022       P002 2025-04-20      Shipped
33    O0034        C029       P001 2025-04-03      Shipped
36    O0037        C017       P003 2025-04-04    Delivered
39    O0040        C010       P003 2025-04-04      Pending
40    O0041        C028       P001 2025-04-03      Shipped
47    O0048        C023       P005 2025-04-22      Shipped
48    O0049        C020       P014 2025-04-12    Delivered
52    O0053        C019       P015 2025-03-31      Shipped
55    O0056        C009       P019 2025-04-16      Pending
56    O0057        C007       P007 2025-04-07    Delivered
59    O0060        C025       P005 2025-04-21    Delivered
60    O0061        C028       P007 2025-04-22      Pending
62    O0063        C018       P015 2025-04-11      Pending
66    O0067        C021       P007 2025-04-14    Delivered
67    O0068        C002       P019 2025-04-04      Shipped
70    O0071        C015       P013 2025-04-20    Delivered
71    O0072        C028       P006 2025-04-03      Shipped
72    O0073        C007       P012 2025-03-30      Pending
75    O0076        C008       P007 2025-03-30    Delivered
82    O0083        C008       P006 2025-03-29    Delivered
83    O0084        C004       P008 2025-04-05    Delivered
94    O0095        C002       P012 2025-04-09      Pending
95    O0096        C010       P007 2025-04-02    Delivered
97    O0098        C014       P003 2025-04-03      Pending
99    O0100        C015       P005 2025-04-16    Delivered

In [35]:
#encontrar quantas vendas tiveram mes passado
linhas_id = ultimos_30["order_id"].nunique()
print(linhas_id)

31

In [38]:
#mostra valores unicos de product_id vendidos nos ultimos 30 dias
unique_id = ultimos_30["product_id"].unique() 
print("Valores únicos:", unique_id)

Valores únicos: ['P016' 'P013' 'P009' 'P003' 'P007' 'P002' 'P001' 'P005' 'P014' 'P015'
 'P019' 'P006' 'P012' 'P008']

In [40]:
unique_id.shape
inventory.head

<bound method NDFrame.head of    product_id warehouse_id  stock_quantity
0        P001          W01              95
1        P001          W02              47
2        P001          W03              88
3        P002          W01               0
4        P002          W02              15
5        P002          W03              60
6        P003          W01              63
7        P003          W02              62
8        P003          W03              68
9        P004          W01              21
10       P004          W02              92
11       P004          W03              66
12       P005          W01              75
13       P005          W02              25
14       P005          W03              15
15       P006          W01              50
16       P006          W02              85
17       P006          W03              56
18       P007          W01              28
19       P007          W02              77
20       P007          W03              91
21       P008          W01              68
22       P008          W02              46
23       P008          W03              93
24       P009          W01              61
25       P009          W02              68
26       P009          W03              75
27       P010          W01              15
28       P010          W02              89
29       P010          W03              89
30       P011          W01              47
31       P011          W02              84
32       P011          W03              38
33       P012          W01              99
34       P012          W02              32
35       P012          W03              93
36       P013          W01              22
37       P013          W02               9
38       P013          W03              68
39       P014          W01              99
40       P014          W02              33
41       P014          W03              51
42       P015          W01              94
43       P015          W02               9
44       P015          W03              18
45       P016          W01              57
46       P016          W02              95
47       P016          W03               0
48       P017          W01              68
49       P017          W02               3
50       P017          W03              15
51       P018          W01              23
52       P018          W02              79
53       P018          W03               1
54       P019          W01              91
55       P019          W02              31
56       P019          W03              90>

In [59]:
reposicao = pd.DataFrame(columns=['product_id', 'warehouse_id', 'recommended_restock_quantity'])
for item in unique_id:
    vendas_item = ultimos_30[ultimos_30['product_id'] == item].nunique() 
    estoques = inventory[inventory['product_id'] == item]
    for estoque in estoques:
        if (estoque.stock_quantity < vendas_item):
            reposicao.append(item, estoque.warehouse_id,vendas_item - estoque['stock_quantity'])

print(reposicao)

AttributeError: 'str' object has no attribute 'stock_quantity'

In [65]:
estoques.head

<bound method NDFrame.head of    product_id warehouse_id  stock_quantity
45       P016          W01              57
46       P016          W02              95
47       P016          W03               0>