In [26]:
# Carregando as principais bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [27]:
# Carregando os arquivos .csv e salvando em Pandas
orders = pd.read_csv("Orders.csv")
inventory = pd.read_csv("Inventory.csv")
ship = pd.read_csv("Shipments.csv")
# Agora, vamos verificar inconsistências tabela por tabela

In [37]:
# Vamos começar por "orders.csv"
# Primeiramente, vamos explorar os dados para entender a tabela
orders.head

<bound method NDFrame.head of    order_id customer_id product_id  order_date order_status
0     O0001        C007       P008  2025-02-26    Delivered
1     O0002        C020       P014  2025-02-01    Delivered
2     O0003        C029       P008  2025-02-23    Delivered
3     O0004        C015       P016  2025-04-21    Delivered
4     O0005        C011       P013  2025-04-21    Delivered
..      ...         ...        ...         ...          ...
95    O0096        C010       P007  2025-04-02    Delivered
96    O0097        C004       P002  2025-03-06    Delivered
97    O0098        C014       P003  2025-04-03      Pending
98    O0099        C016       P017  2025-04-15     Canceled
99    O0100        C015       P005  2025-04-16    Delivered

[100 rows x 5 columns]>

In [28]:
# Verificando consistência de "orders.csv"
orders.isnull().sum() # Verifica se existem entradas nulas

order_id        0
customer_id     0
product_id      0
order_date      0
order_status    0
dtype: int64

In [29]:
orders[orders.duplicated()] # Verifica se existem ordens duplicadas

Empty DataFrame
Columns: [order_id, customer_id, product_id, order_date, order_status]
Index: []

In [ ]:
# Não existem dados nulos ou entradas duplicadas nesta tabela.
# Então, vamos verificar o tipo das variáveis e mudar o tipo da variável order_date para date

In [38]:
orders.dtypes

order_id        object
customer_id     object
product_id      object
order_date      object
order_status    object
dtype: object

In [44]:
#irei converter de object para datetime: pd.to_datetime(orders['order_date']

orders["order_date"] = pd.to_datetime(orders['order_date'], errors='coerce', dayfirst=True)

In [45]:
#agora verifico se order_date esta no tipo correta de data

orders.dtypes

order_id                object
customer_id             object
product_id              object
order_date      datetime64[ns]
order_status            object
dtype: object

In [ ]:
# agora a tabela "inventory.csv"

In [46]:
inventory.head

<bound method NDFrame.head of    product_id warehouse_id  stock_quantity
0        P001          W01              95
1        P001          W02              47
2        P001          W03              88
3        P002          W01               0
4        P002          W02              15
5        P002          W03              60
6        P003          W01              63
7        P003          W02              62
8        P003          W03              68
9        P004          W01              21
10       P004          W02              92
11       P004          W03              66
12       P005          W01              75
13       P005          W02              25
14       P005          W03              15
15       P006          W01              50
16       P006          W02              85
17       P006          W03              56
18       P007          W01              28
19       P007          W02              77
20       P007          W03              91
21       P008          W01              68
22       P008          W02              46
23       P008          W03              93
24       P009          W01              61
25       P009          W02              68
26       P009          W03              75
27       P010          W01              15
28       P010          W02              89
29       P010          W03              89
30       P011          W01              47
31       P011          W02              84
32       P011          W03              38
33       P012          W01              99
34       P012          W02              32
35       P012          W03              93
36       P013          W01              22
37       P013          W02               9
38       P013          W03              68
39       P014          W01              99
40       P014          W02              33
41       P014          W03              51
42       P015          W01              94
43       P015          W02               9
44       P015          W03              18
45       P016          W01              57
46       P016          W02              95
47       P016          W03               0
48       P017          W01              68
49       P017          W02               3
50       P017          W03              15
51       P018          W01              23
52       P018          W02              79
53       P018          W03               1
54       P019          W01              91
55       P019          W02              31
56       P019          W03              90>

In [47]:
inventory.isnull().sum() # Verifica se existem entradas nulas

product_id        0
warehouse_id      0
stock_quantity    0
dtype: int64

In [48]:
inventory[inventory.duplicated()] # Verifica se existem ordens duplicadas

Empty DataFrame
Columns: [product_id, warehouse_id, stock_quantity]
Index: []

In [50]:
#verificar os tipos das variaveis, estao todas coerentes
inventory.dtypes

product_id        object
warehouse_id      object
stock_quantity     int64
dtype: object

In [51]:
# agora a tabela "shipments.csv"

In [55]:
ship.head

<bound method NDFrame.head of    shipment_id order_id   carrier      status
0        S0001    O0001  CarrierA   Delivered
1        S0002    O0027  CarrierB   Delivered
2        S0003    O0076  CarrierB   Delivered
3        S0004    O0078  CarrierB   Delivered
4        S0005    O0006  CarrierB   Delivered
..         ...      ...       ...         ...
75       S0076    O0008  CarrierB  In Transit
76       S0077    O0096  CarrierC  In Transit
77       S0078    O0002  CarrierA     Delayed
78       S0079    O0046  CarrierA   Delivered
79       S0080    O0090  CarrierC   Delivered

[80 rows x 4 columns]>

In [56]:
#verificar se tem, dados nulos
ship.isnull().sum()

shipment_id    0
order_id       0
carrier        0
status         0
dtype: int64

In [57]:
#verificar se existem dados duplicados, neste caso nao existem dados duplicados
ship[ship.duplicated()]

Empty DataFrame
Columns: [shipment_id, order_id, carrier, status]
Index: []

In [58]:
#verificar o tipo das variaveis
ship.dtypes

shipment_id    object
order_id       object
carrier        object
status         object
dtype: object

In [59]:
ship.head()

  shipment_id order_id   carrier     status
0       S0001    O0001  CarrierA  Delivered
1       S0002    O0027  CarrierB  Delivered
2       S0003    O0076  CarrierB  Delivered
3       S0004    O0078  CarrierB  Delivered
4       S0005    O0006  CarrierB  Delivered

In [65]:
ship['status'].unique()

array(['Delivered', 'In Transit', 'Delayed'], dtype=object)

In [67]:
ship['status'].value_counts()

status
Delivered     61
In Transit    11
Delayed        8
Name: count, dtype: int64

In [68]:
ship.shape

(80, 4)