In [26]:
# Carregando as principais bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [27]:
# Carregando os arquivos .csv e salvando em Pandas
orders = pd.read_csv("Orders.csv")
inventory = pd.read_csv("Inventory.csv")
ship = pd.read_csv("Shipments.csv")
# Agora, vamos verificar inconsistências tabela por tabela

In [37]:
# Vamos começar por "orders.csv"
# Primeiramente, vamos explorar os dados para entender a tabela
orders.head

<bound method NDFrame.head of    order_id customer_id product_id  order_date order_status
0     O0001        C007       P008  2025-02-26    Delivered
1     O0002        C020       P014  2025-02-01    Delivered
2     O0003        C029       P008  2025-02-23    Delivered
3     O0004        C015       P016  2025-04-21    Delivered
4     O0005        C011       P013  2025-04-21    Delivered
..      ...         ...        ...         ...          ...
95    O0096        C010       P007  2025-04-02    Delivered
96    O0097        C004       P002  2025-03-06    Delivered
97    O0098        C014       P003  2025-04-03      Pending
98    O0099        C016       P017  2025-04-15     Canceled
99    O0100        C015       P005  2025-04-16    Delivered

[100 rows x 5 columns]>

In [28]:
# Verificando consistência de "orders.csv"
orders.isnull().sum() # Verifica se existem entradas nulas

order_id        0
customer_id     0
product_id      0
order_date      0
order_status    0
dtype: int64

In [29]:
orders[orders.duplicated()] # Verifica se existem ordens duplicadas

Empty DataFrame
Columns: [order_id, customer_id, product_id, order_date, order_status]
Index: []

In [ ]:
# Não existem dados nulos ou entradas duplicadas nesta tabela.
# Então, vamos verificar o tipo das variáveis e mudar o tipo da variável order_date para date

In [38]:
orders.dtypes

order_id        object
customer_id     object
product_id      object
order_date      object
order_status    object
dtype: object

In [40]:
orders["order_date"] = pd.to_datetime(orders['order_date'], errors='coerce', dayfirst=True)

In [43]:
orders.dtypes

order_id                object
customer_id             object
product_id              object
order_date      datetime64[ns]
order_status            object
dtype: object